<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Edit rack</title>
</head>
<body style="background: #52595D;">
<div class="container border border-secondary rounded p-3 mt-5 text-center" style="width:600px;">
    <form th:action="@{/addTra}" method="post" th:object="${track}">
        <h5>Edit Student</h5>
        <input hidden th:value="${track.trId}" th:field="*{trId}">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tr-Name" th:field="*{trName}" name="trName" placeholder="Tracks">
            <label for="tr-Name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tr-Year" th:field="*{trYear}" name="trYear" placeholder="Tracks">
            <label for="tr-Year">Year of Launch</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tr-Lang" th:field="*{trLang}" name="trLang" placeholder="Tracks">
            <label for="tr-Lang">Language</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tr-Id" th:field="*{trId}" name="trId" placeholder="Tracks">
            <label for="tr-Id">Track ID</label>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>